@using Container_Cat.Containers.EngineAPI;
@model Container_Cat.Utilities.Models.SystemDataObj

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <text>Container state</text>
            </th>
            <th>
                <text>Container name and id</text>
            </th>
            <th>
                <text>Container image</text>
            </th>
            <th>
                <ul>
                    <text>public port:private port</text>
                </ul>
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Containers)
            {
            <tr>
                <td>
                                @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <ul>
                        <li>@Html.DisplayFor(modelItem => item.Name)</li>
                        <li>@Html.DisplayFor(modelItem => item.Id)</li>
                    </ul>         
                </td>
                <td>
                                @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    <ul class="w3-ul w3-border">
                        @foreach (var portObj in item.Ports)
                        {
                            <li>@Html.DisplayName($"{portObj.PublicPort.ToString()}:{portObj.PrivatePort.ToString()}")</li>
                        }
                    </ul>
                </td>
            </tr>
                    }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
