@using Container_Cat.Containers.Models;
@model IEnumerable<Container_Cat.Utilities.Models.SystemDataObj>;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Host Systems");
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkAddress.Ip, "||", "item.Containers.Count"+" "+"containers installed")
                @foreach (var container in item.Containers)
                {
                    @Html.DisplayFor(modelContainer => container.State, container.Name, container.Image)        
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
