@using Container_Cat.Containers.Models;
@model IEnumerable<Container_Cat.Utilities.Models.SystemDataObj>;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Host System address")
            </th>
            <th>
                @Html.DisplayName("Container count")
            </th>
            <th>
                @Html.DisplayName("Connection status")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayName($"{item.NetworkAddress.Ip}")
                </td>
                <td>
                    @Html.DisplayName($"{item.Containers.Count.ToString()}")
                </td>
                <td>
                    @Html.DisplayName($"{item.NetworkAddress.Availability.ToString()}");
                </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Update</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
